/* import comments from css file */
@Import url("fonts.css");

/* import url vars */
@Import url("partials/vvariables.css");

@Import url("partials/gglobal.css");

/* start nav */

.header_area .main-menu .navbar .navbar-brand {
    padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar {
    padding: 1rem 20rem;
}

.header_area .main-menu .nav-link {
    font:normal 500 15px/2px var(--inter);
    /* font-family: var(--inter); */
    text-transform: uppercase;
    /* font-weight: 500; */
    padding: 1.7rem;
    color:var(--title-color);
    font-size: 15px;
    /* background-color: aliceblue; */
}

.header_area .main-menu .navbar-nav a:hover{
    background-color: brown;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip:text;
}

.title-text {
    /* padding: 0 10rem 0 5rem; */
    margin: 10%;
    font-family: var(--inter);
    font-size: 50px;

}

.title-h1 {
    /* padding: 0 10rem 0 5rem; */
    margin: 10%;
    text-align: center;
}

.title-h2 {
    /* padding: 0 10rem 0 5rem; */
    margin: 10%;
    /* text-align: center; */
}

.title-h4 {
    /* padding: 0 10rem 0 5rem; */
    margin: 10%;
    padding-bottom: 100px;
    padding-top: 100px;
    /* text-align: center; */
}
.skills-title {
    margin:0%;
}

.bottom-links {
    font-size: 20px;
    color: black;
    font-family: var(--inter);
}

.bottom-links a:hover {
    background-color:lightcoral;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip:text;
}

.bottom-logo {
    margin-top: 10%;
}

.title-head {
    font-weight:bold;
    font-size: 30px;
    font-family: var(--inter);

}

body {
    font-family: var(--inter);
}
/* end nav */

/* About us */

.site-main .about-area {
    padding: 8rem 5rem;
}


.site-main .about-area .about-title h2 > span {
    display: block;
    font:normal bold 49px/60px var(--inter);
    letter-spacing: 21px;
}

.site-main .about-area .about-title .paragraph > p {
    padding: .4rem 0;
}

p .para {
    color: var(--title-color);
    font: normal 500 26px/40px var(--inter);
}

.site-main .skills-area .skills-title {
    padding: 0 14rem;
}

.site-main .skills-area .skills-title h1{
    font-size: 35px;
}

.img {
    /* width: 500px; /* You can set the dimensions to whatever you want */
    /* height: 500px; */ 
    object-fit: cover;
}

/* .site-main >.skills-area .skills {
    background: blanchedalmond;
} */

/* End About Area */